# Coisas temporarias do Office
PID/~$I_SI_ModelodeRelatóriodoPID_2o.Períodos_2026.doc
~$zebra.xlsx
*.tmp
# Python
__pycache__/
*.py[cod]
*$py.class

# Pygame / projeto
*.log
particularTeste.py
python.py

